
<mat-grid-list cols="3" rowHeight="4rem" gutterSize="4rem">
    <div>

      <mat-grid-tile>
        <button (click)="onCriteriaSelect(2)"  mat-raised-button color="accent">Hechos de Guerra</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="onCriteriaSelect(3)"  mat-raised-button color="accent">Imperio Romano</button>
      </mat-grid-tile>
      <mat-grid-tile>
        <button (click)="onCriteriaSelect(4)" mat-raised-button color="accent">Grandes Construcciones</button>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
  