<mat-grid-list cols="2" rowHeight="30rem" gutterSize="3rem">
    <div>
      <mat-grid-tile><img style="" src="../../assets/uwu.jpg"></mat-grid-tile>
      <mat-grid-tile>
        <div class="texto">
          <h1>Hechos Que Marcaron La Historia</h1>
        <hr>
        <p>La historia universal, historia del mundo, historia mundial o historia de la humanidad es el conjunto de hechos y procesos que se han desarrollado en torno al ser humano, desde su aparición hasta la actualidad</p>
        <p>La historia escrita de la humanidad fue precedida por su prehistoria, comenzando hace unos 2,59 millones de años (en África) con el Paleolítico («piedra antigua»), seguida por el Neolítico («piedra nueva»). El Neolítico vio la revolución agrícola suceder desde 8000 a. C., en varios procesos completamente independientes y sin contactos entre sí: Asia Occidental, China, Nueva Guinea, Mesoamérica, Región Andina y Norteamérica.</p>
        </div>
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile>
        <div class="texto">
          <h1>¿Sabías que?</h1>
          <hr>
          <p>El suceso más antiguo que puede datarse en el universo que conocemos se remonta a unos 12.000 millones de años. En este primer instante, toda la energía (y todo el espacio) del universo se encontraba concentrada en un punto, que fue el origen de una gran explosión (big bang).</p>
          <p>Durante los primeros segundos, la temperatura era de más de un billón de grados y toda la energía se hallaba en forma de radiación. Durante los primeros 10 segundos se formaron las partículas elementales y al cabo de 15 minutos se formaron núcleos de hidrógeno y helio, en proporción de cuatro a uno.</p>
        </div>
      </mat-grid-tile>
      <mat-grid-tile><img style="" src="../../assets/bigb.jpg"></mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile colspan="2">
        <div class="texto">
          <h1 style="text-align: center;">¿Listo Para Saber Más Sobre La Historia Del Mundo?</h1>
        </div>
      </mat-grid-tile>
    </div>
    <div>
      <mat-grid-tile colspan="2" ><img style="background-color: aliceblue;" src="../../assets/profe.png" height="100%"></mat-grid-tile>
    </div>


  
  